@import url("https://fonts.googleapis.com/css?family=Tajawal&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tajawal", Arial, Helvetica, sans-serif;
  border-top: solid 6px hsl(9, 100%, 64%);
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 12px;
  margin-top: 32px;
}

#title {
  font-size: 3rem;
  color: hsl(0, 0%, 25%);
}

.app {
  margin-top: 64px;
}

#bookmark {
  background: white;
  box-shadow: none;
  padding: 6px 12px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 6px;
}

#add {
  margin-top: 12px;
}

.btn {
  background-color: hsl(9, 100%, 64%);
  color: white;
  padding: 6px 18px;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 6px;
  cursor: pointer;
}

.app-container {
  margin-top: 24px;
  padding: 12px 0;
  width: 100%;
}

.bookmarked-url {
  padding: 12px 24px;
  margin: 24px 0;
  width: 100%;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bookmarked-url a {
  color: hsl(0, 0%, 25%);
  text-decoration: none;
}

.bookmarked-url a:hover {
  color: hsl(0, 0%, 5%);
  text-decoration: underline;
}
